@page
@model Tagsekel.Pages.Drivers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Driver's List</h1>

<p>
    <a asp-page="Create">Create Account</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
